@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
:root {
  --fonte1: Verdana, Geneva, Tahoma, sans-serif;
  --fonte2: "Passion One", cursive;
  --fonte3: "Sriracha", cursiva;
}

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  min-height: 100vh;
  background-color: yellow;
  font-family: var(--fonte1);
}

header {
  background-color: green;
  color: yellow;
  text-align: center;
}

header > h1 {
  padding-top: 50px;
  font-variant: small-caps;
  /*text-transform: uppercase; (uppercase deixa todas as letras maiusculas)*/
  font-family: var(--fonte2);
  font-size: 11vw; /*ir aumentando e diminuindo conforme o tamanho da tela*/
}

header > p {
  padding-bottom: 50px;
  font-size: 25px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
  text-decoration: underline;
}

section {
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em; /*distancia do espaçamento das letras*/
  padding-left: 30px;
  font-family: var(--fonte3);
  font-size: 2.5vw;
}

section > p {
  padding-bottom: 2em;
  font-size: 20px;
  line-height: 1.5em;
}

section.imagem {
  background-color: rgb(81, 76, 76);
  color: white;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.684);
  background-size: cover;
  background-attachment: fixed; /*vai rolar a pagina mas a imagem vai ficar fixa*/
}

section.imagem > p {
  display: inline-block;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.463);
  text-shadow: 1px 1px 0px black;
}

section#img01 {
  background-image: url(imagens/pamonha001.avif);
  background-position: center;
}

h3 {
  font-family: var(--fonte3);
  color: green;
  text-align: center;
  font-size: 25px;
  line-height: 1em;
  padding: 20px;
}

footer {
  background-color: green;
  color: yellow;
  text-align: center;
  padding: 10px;
  font-size: 25px;
}

img {
  width: 100%;
  height: 50%;
}
